a {
	color: inherit;
    
    &:visited {
        color: inherit;
    }
    
    &:hover, &:focus, &:active {
        color: inherit;
        text-decoration: none;
    }
    
    &:focus {
        outline: thin dotted;
    }
    
    &:hover, &:active {
        outline: 0;
    }
}
